@import "tailwindcss";
/* @import "tw-animate-css";

@custom-variant dark (&:is(.dark *)); */

body {
  padding: 0;
  margin: 0;
    /* border: 1px solid grey; */
}

.custom-scroll {
  overflow: hidden;
}
.custom-scroll:hover {
  overflow: auto;
}